@model Reporting_Assistant_New.Areas.ViewModels.uduser

@{
    ViewBag.Title = "User Details(s)";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageForAdmin.cshtml";
}

<script src="~/JS/MyHeader.js"></script>
@*@using (Html.BeginForm("UserDetailsEdit", "UserDetails", new { area = "Administrator" }, FormMethod.Post, new { encrypt = "multipart/form-data" }))*@
<form action="/UserDetails/UserDetailsEdit" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken();

    <div class="form-row">
        @Html.Raw(TempData["Message"])
        @Html.HiddenFor(m=> m.userid)
        <div class="form-group col-md-4">
            @Html.LabelFor(m=> m.Username)
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.DateOfBirth)
            @Html.TextBoxFor(m => m.DateOfBirth, "{0:dd/MM/yyyy}", new { placeholder = "Please type Date Of Birth In a form of dd/mm/yyyy", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DateOfBirth)
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Mobile)
            @Html.TextBoxFor(m => m.Mobile, new { placeholder = "Enter Mobile Number", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Mobile)
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { placeholder = "Enter Full Address", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address)
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.City)
            @Html.TextBoxFor(m => m.City, new { placeholder = "City", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.City)
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Country)
            @Html.TextBoxFor(m => m.Country, new { placeholder = "Country", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control-file" id="image" name="BaseImg" />
        </div>
        <button type="submit" class="btn btn-success">Submit</button>

        @Html.ValidationSummary()
    </div>
  
</form>







