@model Reporting_Assistant_New.Areas.ViewModels.Category
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageForAdmin.cshtml";
}

<h2>Create</h2>

<form action="~/Admin/Category/Create" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div class="form-row">
        @Html.Raw(TempData["Message"])
        <div class="form-group col-md-12 col-sm-12 col-md-12">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName, new { placeholder = "Category name", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CategoryName)
        </div>
        @Html.ValidationSummary()
    </div>
    <div class="form-group col-md-12 col-sm-12 col-md-12">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>

</form>