@model Reporting_Assistant_New.ViewModel.TaskDone
   @{ ViewBag.Title = "Issues";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageForAdmin.cshtml";
    }

<h2>Issues</h2>

<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="~/Scripts/DataTables/js/dataTables.bootstrap4.min.js"></script>
<link href="~/Scripts/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<style>
    .collapsible {
        background-color: #777;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

        .active, .collapsible:hover {
            background-color: #555;
        }

    .content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }
</style>
  
@using (Html.BeginForm("Insertd_data", "AdminHome", new { areas = "Admin" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    
     for (int j = 0; j <= 6; j++)
     {
         int tl = 0;
         int tdl = 0;
         int fcl = 0;
         <button type="button" class="collapsible">@DateTime.Now.AddDays(-j).DayOfWeek,@DateTime.Now.AddDays(-j).ToString("dd/MMM/yyyy")</button>
            <div class="content">
            <button type="button" class="collapsible">Tasks Assigned</button>
            <div class="content">
    @if (Model.tlist.Count != 0)
            {
       
            foreach (var i in Model.tlist)
            {
              if (i.DOT == DateTime.Today.AddDays(-j))
                {
                <div class="col-lg-12 col-md-12 col-sm-12    bootstrap-touchspin-down bootstrap-select">
                    <button type="button" class="collapsible ">@(i.UserId != null && i.DOT == DateTime.Today.AddDays(-j) ? i.UserId : "")</button>
                    <div class="content advance-table-row table-bordered" style="border-color:blue">
                    <fieldset>
                            <legend>@(i.Screen != null && i.DOT == DateTime.Today.AddDays(-j) ? i.Screen : "")</legend>
                            <h3>@(i.Description != null && i.DOT == DateTime.Today.AddDays(-j) ? i.Description : "")</h3>
                        @if(Model.adminid==i.AdminUserId){
                            <a href="~/Admin/Task/TaskDetailsEdit?ids=@i.TaskId" class="btn btn-info">Edit</a>
                        }
                        </fieldset>
                    </div>
                </div>
                    tl++;
               }
               }
               if(tl==0)
               {
                   <p style="color:red">No Task Assigned</p>
               }
               }
             
    else if (Model.tlist.Count == 0 )
            {
                <p style="color:red">No Task Assigned</p>
            }
                else
                {
                    <p style="color:red">No Task Assigned</p>
                }
        </div>


            <button type="button" class="collapsible">Task Done</button>
            <div class="col-lg-12 col-md-12 col-sm-12 bootstrap-touchspin-down">
            @if(Model.tdlist.Count != 0)
            {
                
               foreach (var i2 in Model.tdlist)
                {
                    if (i2.DOTD == DateTime.Today.AddDays(-j))
                        {

                                    @*<div class="container-fluid advance-table-row table-bordered bootstrap-touchspin-up" style="border-color:green">*@
                    <div class="col-lg-12 col-md-12 col-sm-12 bootstrap-touchspin-down bootstrap-select">
                        <button type="button" class="collapsible ">@(i2.UserId == null ? "" : i2.DOTD == DateTime.Today.AddDays(-j) ? i2.UserId : "")</button>
                        <div class="content advance-table-row table-bordered" style="border-color:blue">
                            <fieldset>
                                <legend>@(i2.Screen != null && i2.DOTD == DateTime.Today.AddDays(-j) ? i2.Screen : "")</legend>
                                <h3>@(i2.Description != null && i2.DOTD == DateTime.Today.AddDays(-j) ? i2.Description : "")</h3>
                            </fieldset>
                        </div>
                    </div>
                            tdl++;
                }
              }
              if(tdl==0)
               {
                   <p style="color:red">No Task Done Found</p>
               }
            }
          
            else if (Model.tdlist.Count == 0)
                {
                     <p style="color:red">No Task Done Found</p>
                }

            else
                {
                    <p style="color:red">No Task Done Found</p>
                }
          </div>


            <button type="button" class="collapsible">Final Comment</button>
            <div class="content">
                
            @if (Model.fclist.Count != 0)
             {
               
                foreach (var i3 in Model.fclist)
                {
                if (i3.DOFC == DateTime.Today.AddDays(-j))
                {
                    <div class="col-lg-12 col-md12 col-sm-12 bootstrap-touchspin-down bootstrap-select">
                        <button type="button" class="collapsible ">@(i3.UserId == null ? "" : i3.DOFC == DateTime.Today.AddDays(-j) ? i3.UserId : "")</button>
                        <div class="content advance-table-row table-bordered" style="border-color:blue">
                            @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>*@
                            <fieldset>
                                <legend>@(i3.Screen != null && i3.DOFC == DateTime.Today.AddDays(-j) ? i3.Screen : "")</legend>
                                <h3>@(i3.Description != null && i3.DOFC == DateTime.Today.AddDays(-j) ? i3.Description : "")</h3>
                                @if (Model.adminid == i3.AdminUserId)
                                {
                                    <a href="~/Admin/FinalComment/FinalCDetailsEdit?ids=@i3.FinalCommentId" class="btn btn-info">Edit</a>
                                }
                            </fieldset>
                        </div>
                    </div>
                    fcl++;
                }
                }
                if(fcl==0)
                 {
                   <p style="color:red">No Final Comment Found</p>
                 }
                }
                else if (Model.fclist.Count == 0)
                {
                    <p style="color:red">No Final Comment Found</p>
                }
                else
                {
                    <p style="color:red">No Final Comment Found</p>
                }
                @if (tdl > 0) 
                { 
               
                <lebel style="color:green">New Final Comment</lebel>

                <div class="container-fluid advance-table-row table-bordered bootstrap-touchspin-up" style="border-color:green" id="tddata_div">
                <fieldset>
                <legend class="col-lg-12 col-md-12 col-sm-12 bootstrap-touchspin-down">
                    Project Name @Html.DropDownListFor(m => m.ProjectId, new SelectList(ViewBag.pr_data, "Value", "Text"), "---select---", new { @class = "form-control" })
                    User Name @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.user_data, "Value", "Text"), "---select---", new { @class = "form-control" })
                    @Html.TextBoxFor(m => m.Screen, new { @class = "form-control", placeholder = "Screen Name" })
                     @Html.TextAreaFor(m => m.Description, new { @class = "form-control", placeholder = "Description"})
                    
                        <label for="image">Image</label>
                        <input type="file" class="form-control-file" id="image" name="BaseImg" />
                <button class="btn btn-success" type="submit" id="submit">Submit </button>
                </legend>
                </fieldset>
                   
                </div>
                
                }
            </div>
</div>
           
        }

     }

  
                
           


@Html.ValidationSummary()
@Html.Raw(TempData["Message"])
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
    
</script>

