@model List<Reporting_Assistant_New.Areas.ViewModels.Project>
           @using GridMvc.Html
@{
    ViewBag.Title = "ViewAll";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageForAdmin.cshtml";
}

@using (Html.BeginForm("ViewAll", "project", new { area="Admin"},FormMethod.Post))
{ 
    @Html.TextBox("search", "", new { style="Width:1000px", placeholder="Enter Project Name To Search"}) <input style="align-content:center;height:30px" type="submit" class="btn btn-info" value="GO" onclick="this.Values"/>
}

    <h2>ViewAll</h2>
<a href="~/Admin/Project/Create" style="align-items:flex-start" class="btn btn-success">Create</a>
    <table class="table-bordered col-lg-12 col-sm-12 col-md-12" id="searchGridView">
            <tr>
                <th>Image</th>
                <th>Project Name</th>
                <th>Date Of Start</th>
                <th>Availability Status</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            
 @if(Model!=null)
           { 
   foreach (var item in Model)
    {
    <tr>
        <td>
            <img style="max-height:100px; max-width:100px; padding-left:10px" src="@Url.Content(@item.image)" alt=""></td>
        <td>@item.ProjectName</td>
        <td>@item.DOS.Value.ToShortDateString()</td>
        <td>
            @if (@item.Availability)
            {
                <span style="color:green">Available</span>
            }
            else
            {
                <span style="color:red">Un-Available</span>
            }
        </td>

        <td>@item.CategoryId</td>
        <td>
            <a href="~/Areas/AdminHome/home" class="btn btn-warning">Back</a>
            <a href="~/Admin/Project/Edit?ids=@item.ProjectId" class="btn btn-info">Edit</a>
            <span id="confirmDeleteSpan_@item.ProjectId" style="display:none">
                <span>Are You sure you want to delete?</span>
                <button type="submit" class="btn btn-danger"> Yes </button>
                <button type="#" class="btn btn-primary" onclick="confirmDelete('@item.ProjectId', false)"> No </button>
            </span>
            <span id="deletespan_@item.ProjectId">
                <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.ProjectId', true)"> Delete </a>
            </span>
        </td>
        <br />
    </tr>
}
}
        else
           {
               
           }             
                
        </table>
  
@Html.ValidationSummary()
@Html.Raw(TempData["Message"])
@section  Scripts{
    <script src="~/JS/DeleteScript.js"></script>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

