@model Reporting_Assistant_New.Models.changepassword

@{
    ViewBag.Title = "changepassword";
    Layout = "~/Views/Shared/_LayoutPageGeneral.cshtml";
}

<h2>changepassword</h2>

<script src="~/JS/MyHeader.js"></script>
@*@using (Html.BeginForm("UserDetailsEdit", "UserDetails", new { area = "Administrator" }, FormMethod.Post, new { encrypt = "multipart/form-data" }))*@
<form action="/Account/changepassword" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken();

    <div class="form-row">

        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username", @class = "form-control", @disable=true,@disabled="disabled" })
            @Html.ValidationMessageFor(m => m.Username)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.oldpass)
            @Html.TextBoxFor(m => m.oldpass, new { placeholder = "Please Enter The Old Password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.oldpass)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.newpass)
            @Html.TextBoxFor(m => m.newpass, new { placeholder = "Enter New Password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.newpass)
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(m => m.confirmpass)
            @Html.TextBoxFor(m => m.confirmpass, new { placeholder = "Confirm The password", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.confirmpass)
        </div>
        @Html.ValidationSummary()
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>







